
@use '@angular/material' as mat;

.menuBtn{
  color: #f0f0f0;
  border-radius: 5px;
  @include mat.button-overrides((
  filled-container-color: "--mat-sys-on-primary",
  filled-label-text-color: rgb(255, 255, 255),
  
));}
#logoutBtn{
  border-radius: 10px;
}
.btn{
  border-radius: 10px;
}
.sideBtn{
margin-top: 10px;
}
.sideListBtn{
 /* border-bottom: solid 3px;
  border-bottom-color: rgb(156, 61, 6);*/
   border-radius: 10px;
  @include mat.button-overrides((
    filled-container-color: brown,
    filled-label-text-color: rgb(255, 255, 255),
  ));
  
}
.sideList{
  border-left: solid 3px;
  border-left-color: rgb(85, 150, 241);
  @include mat.list-overrides((
    active-indicator-color: orange,
    list-item-container-color: rgb(246, 241, 241),

  ));
}
mat-drawer button{
  margin:10 px;
}

mat-list-item{
  margin-bottom: 0px;
}
mat-toolbar {
    background-color: #0458df;
    
}
#span{
color: #fff0f0;
}
.example-container {
    width: "200px";
    height: 100%;
    
  }
  
  .example-sidenav-content {
    
    height: 100%;
   
  }
  
  .example-sidenav {
    padding: 20px;
    background: #f0f0f0;
  }

 